/* CSS resets */

*{
    margin: 0;
    padding: 0;
}
/* Respecting useres font size preferences */
html {
    font-size: 100%;
}

/* General CSS */

body {
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    /* background-color:rgb(182, 213, 223) ; */
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 69%, rgba(237, 234, 83, 1) 100%);
    border-bottom: #000 1px solid;
    color:ghostwhite;
    /* text-align: center; */
}

header h1 {
font-size: 3rem;
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
    
}

nav a {
    text-decoration: none;
    color: ghostwhite;
}

main h2 {
 text-align: center;
}

.about-section p{
    text-align: center;
}

.about-section, .portfolio-section, .contact-section {
    margin-bottom: 5rem;
}

.about-content, .portfolio-content, .contact-content{
    max-width: 60rem;
    margin: 0rem auto;
    padding: 2rem 0;
}

.about-content h2, .portfolio-content h2, .contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin: 5rem 10rem;
    background-color: white;
    padding: 4rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px gray;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 0.5rem;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.about-section {
    background-color: white;
}

.portfolio-section {
    background-color: rgb(230, 230, 230);

}

.contact-section p{
    text-align: center;
}

footer {
        background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 69%, rgba(237, 234, 83, 1) 100%);
    border-bottom: #000 1px solid;
    color:ghostwhite;
    padding: 1rem;
}

footer p {
font-size: 1.2rem;

}